<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="vi" lang="en-US" prefix="og: http://ogp.me/ns#">
  <head>
    <title>Ngoại thất Fansipan - Đại lí tại <%=province%></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Hệ thống phân phối các sản phẩm ngoại thất bàn ghế ngoài trời, bàn ghế cafe, bàn ghế sân vườn của Ngoại thất Fansipan tại <%=province%>">
    <link rel='shortcut icon' href='/images/favicon.ico' type='image/x-icon'/ >
    <%#top stylesheet + jquery %>
    <%- include('headtags');%>
    <%# end stylesheet + jquery %>
  </head>
  <body>
    <%- include('navbar',{current_page:"retailers"})%>
<section>
<div class="container">
  <h3 class="text-center" style="color: #08A650">Danh sách nhà phân phối tại <%=province%></h3>
  <div class="row">
    <div class="col-md-10 col-md-offset-1 col-sm-12">
      <div class="embed-responsive embed-responsive-16by9" style="margin-top: 40px;">
        <iframe src="https://www.google.com/maps/d/embed?mid=16oPzFwMUFAqDYi2hByj8aDV8HWs&hl=en"></iframe>
      </div>
    </div>
    <div class="col-md-5 col-sm-6 col-xs-12 col-md-offset-1">
      <ul style="margin-top: 20px;">
      </ul>
    </div>
    <br>
  </div>
  <hr>
</div>
</section>
<%- include('footer');%>
</body>
  <%# script + analytics %>
  <%- include('bottomjs');%>
  <%# end script + analytics%>
</html>
